<div class="col-md-4 col-md-offset-4">
    <h2>编辑影评</h2>

    <hr>
    <%= form_for @movie do |f| %>

    标题
    <%= f.text_field :title %>
    <br>
    内容
    <br>
    <%= f.text_area :description %>
    <br>

    <%= f.submit "发送", :disable_with => '发送中...' %>
    <% end %>

</div>
